bin/app/Board$Diffculty.class
.classpath
.project
.settings/org.eclipse.jdt.core.prefs
.vscode/launch.json
bin/app/App.class
bin/app/Board.class
bin/app/BoardBulider.class
bin/app/BoardOps.class
bin/app/BoardState.class
bin/app/Cell.class
bin/app/DataFitException.class
bin/app/DataFitException$ExceptionType.class
bin/app/OldCode.txt
bin/app/Solver.class
bin/app/SudoukOUT.txt
bin/app/SudoukoIN.txt
src/app/OldCode.txt
src/app/SudoukOUT.txt
src/app/SudoukoIN.txt
